rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Match all documents in the "posts" collection
    match /posts/{postId} {
      
      // Allow read access (get and list) to everyone, including unauthenticated users
      allow read: if true;

      // Allow write access (create, update, delete) only to authenticated users
      allow write: if request.auth != null;
    }
  }
}